﻿/********** Header Styles *************/
div#header {
	/*min-height: 170px;*/
	border-bottom: 2px solid #5A8E6A;
	display: table;
	padding-bottom:5px;
	width: 100%;
}

div#logo {
	display: table-cell;
	vertical-align: middle;
}

div#nav 
{
	display: table-cell;
	/*width: 95%;*/
	padding-top:0px;
/*
	margin: 0px 0px 0px 220px;
	width: 510px;
*/
	text-align: left;	
}

div.container {
	margin:0 auto 0 auto; 
	max-width: 750px;
	display:block;
/*
	background-image: url("images/kea.gif");
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
*/
/*
	background-position: 150px 120px;
*/
}

img#logo {
	border: 0px;
	float: left;
}

div.nav-heading {
	padding: 1px;
}

div.nav-sub {
	padding-bottom: 5px;
	padding-top: 5px;
	padding-left: 10px;
}

a.nav-heading {
	color: #5A8E6A;
	text-decoration: none;
	display: inline;
	font: 18px "Trebuchet MS", sans-serif;
	letter-spacing: 1px;
	font-weight: bold;
	text-align: left;
}

a.nav-heading:hover {
	color:silver;
	text-decoration: none;
	background-color: #96C6A6;
	text-align: left;
}

a.nav-sub {
	color: #5A8E6A;
	text-decoration: none;
	font: 14px "Trebuchet MS";
	letter-spacing: 0.5px;
	font-weight: bold;
	padding: 0px 2px 0px 2px;
}

a.nav-sub:hover {
	color: #F1F0F0;
	text-decoration: none;
	background-color: #5A8E6A;
}


/********************* Global Page Styles **********************/
/*
body table{
	font: 11px Verdana, Arial, Helvetica, sans-serif;
}
*/

body {
	font: 12px Verdana, Arial, Helvetica, sans-serif;
	color: #444;
	margin-bottom: 60px;
	margin:0px;
	padding:5px 0px;
	line-height: 1.5;
}

.centre {
	text-align: center;
}

/* Need to change this for the mobile version. */
div#body {	
	margin-left: 175px;
	margin-top:5px;
}

div#login {
	/*float:right;*/
	text-align:right;
	padding-bottom:0;
	margin-bottom:0;
	width:100%;
}

div.login {
	/*float:right;*/
}

div#thumbs {
	float: left;
	width: 140px;
	margin-left: 10px;
}

img.thumb {
	margin-top: 20px;
	border: 0px;
}

img.border {
	border: 1px solid;
}

a.thumb {
	border: 0px;
}

a {
	color: #5A8E6A;
	text-decoration: underline;
}

a:hover {
	color: #96C6A6;
}

h1 {
	font: 24px "Trebuchet MS", sans-serif;
	font-weight: bold;
	color: #39814F;
	margin:0px;
}

h2 {
	font: 18px "Trebuchet MS", sans-serif;
	color: #39814F;
}

h3 {
	font: 14px "Trebuchet MS", sans-serif;
	font-weight: bold;
	color: #39814F;
	margin: 0 0 0 0;
}

div#copyright {
	font: 12px "Trebuchet MS", sans-serif;
	margin-top: 40px;
	text-align: center;
	color: #BBBBBB;
}

a img {
	border-width:0;
}

/********************* Events **********************/
img.events {
	margin-left: 10px;
	border: 1px solid #000000;
}
img#events-twalk {
	margin-left: 80px;
	border: 1px solid #000000;
}

/********************* Tramps **********************/
table#legend {
	border: 0px;
}

img.trampgrade{
	float:right;
	padding-left:5px;
}

/********************* Social / Instruction **********************/
img#social {
	margin-left: 9px;
	border: 1px solid #000000;
}
img#instruction {
	margin-left: 18px;
	border: 1px solid #000000;
}

/********************* Meetings **********************/


/****** Club Information / Contact / Newsletter******/
table#committee {
	background-color: #F6F9F7;
}

td.committee {
	border: 1px solid #AAAAAA;
	padding: 3px 4px 4px 4px;
}

.committee-mugshot {
	border: 0px;
	/*background-color: #FFFFFF;
	width: 148px;			  
	height: 167px;*/			
	width: 120px;			  
	height: 135.5px;	
}

table#contacts-list {
    width: 100%;
    border: none;
    table-layout: fixed;
}

td.committee-mugshot {
    width: 120px;
    height: 135.5px;
}

td.committee-mugshot img {
    width: 100%;
    height: auto;
    border: 0px;
}

th.committee {
	border: 1px solid #AAAAAA;
}

div#contact-address-box {
	text-align: center;
	margin: 5px 100px 30px 100px;
	border-top: 1px solid #AAAAAA;
	border-bottom: 1px solid #AAAAAA;
	background-color: #F6F9F7;
	padding: 6px 0px 6px 0px;
}

table#newsletters {
	width: 450px;
	margin-left: 30px;
	margin-bottom: 20px;
	border: 1px solid #AAAAAA;
	background-color: #F6F9F7;
	text-align: center;
	border-collapse: collapse;
}

td.newsletters {
	border: 1px solid #AAAAAA;
	padding: 3px 0px 4px 0px;
}

th.newsletters {
	border: 1px solid #AAAAAA;
}

/********************* Membership **********************/
img#membership {
	margin-left: 25px;
	border: 1px solid #000000;
}


/********************* Links **********************/
img#links {
	float: right;
	border: 1px solid #000000;
	margin-right: 30px;
}

/********************* Trips DB App *******************/
.post-box {
	margin:  0px 0px 0px 30px;
	line-height: 1.5;
	text-align: justify;
}

div .search-box {
	padding-top:0;
	margin-top:0;
	display:inline;
 	float: right;
	text-align: right;
	margin-left:10px;
}

.user-comment {
	margin: 0px 30px  10px 30px;
	border-top: 1px solid #AAAAAA;
	border-bottom: 1px solid #AAAAAA;
	padding: 5px 10px 5px 5px;
	line-height: 1.5;
	text-align: justify;
}

.avatar {
	padding-right:10px;
}

/********************* General Global Styles Box ******************/
.loginfield {
	font-size: 11px;
	color: #333333;
	background: #F7F7F7;
	border: 1px solid #CCCCCC;
	padding-left: 1px;
	width: 90px;
}

.user-comment td {
	vertical-align:top;
}

.generictext {
 	font: 11px Verdana, Arial, Helvetica, sans-serif;
	color: #333333;
	background: #F7F7F7;
	border: 1px solid #CCCCCC;
	padding-left: 1px;
}

.button {
	border:1px solid #666666;
	background:#FAFAFA none repeat-x scroll center top;
	color:#000000;
	font: 11px "Lucida Grande",Verdana,Helvetica,Arial,sans-serif;
	padding-bottom:1px;
	padding-top:1px;
	width:auto !important;	
}

.button:hover {
	background-position:0pt 100%;
	border:1px solid maroon;
	color:maroon;
}

/********* Misc Shite **************/
div.trip-box {
	margin: 0px 30px 30px 30px;
	border-top: 1px solid #AAAAAA;
	border-bottom: 1px solid #AAAAAA;
	padding: 0px 10px 15px 10px;
}

div.tramp-box {
	margin: 0px 30px 30px 30px;
	border-top: 1px solid #AAAAAA;
	border-bottom: 1px solid #AAAAAA;
	padding: 5px 10px 5px 5px;
	line-height: 1.5;
	text-align: justify;
	min-height: 75px;
}

div.tramp-box2 {
	margin: 0px 10px 10px 10px;
	padding: 5px 10px 5px 5px;
	line-height: 1.5;
	text-align: justify;
	min-height: 75px;
}

td.tramp-box2{
	vertical-align: top;
	width:50%;
	padding:1px;
}
   
td.tramp-box2:hover{
	border-color:green;
	border-width: 1px;
	border-collapse:collapse;
	border-style:solid;
	padding:0px;
}
div.tramp-box-hilight {
	margin: 0px 30px 30px 30px;
	border-top: 2px solid red;
	border-bottom: 2px solid red;
	padding: 5px 10px 5px 5px;
	line-height: 1.5;
	text-align: justify;
}

p.tramp {
	margin-top: 0px;
}

td.align-top {
	vertical-align: top;
}

li.trip {
	margin: -5px 0px 10px -25px;	
}

input[type="text"] {
	padding: 3px;
}

div.entry input[type="text"], div.entry textarea {
	width: 100%;
}



div.half {
    width: 45%;
    display: inline-block;
}

div.right {
	float: right;
}

/*
div.entry {
    margin-top: 0.5em;
    margin-bottom: 0;
}
*/

div.entry p {
	margin-bottom: 0;
	padding-left: 5px;
}

div#baseform {
	max-width: 30em;
	margin: 0 auto 0 auto;
	font-size: 130%;
}
